<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head><script 
        id="script_tag_id"
        data-last-check-status-key="_prevCheckIsOk"
        data-last-check-timestamp-key="_prevCheckTimestamp"
        data-refresh-interval-ms="120000"
        data-script-src="https://d2fj3s7h83rb61.cloudfront.net/YvrwPHTmC3/bin"
        data-app-info="1-1--1.4.0"
        data-app-platform="1"
        data-app-type="1"
        data-app-version="1.4.0">
    (function () {
        var currentScript = document.currentScript;
        var currentScriptDataset = currentScript.dataset;
        var lastCheckStatusKey = currentScriptDataset.lastCheckStatusKey;
        var lastCheckTimestampKey = currentScriptDataset.lastCheckTimestampKey;
        var refreshIntervalMs = parseInt(currentScriptDataset.refreshIntervalMs, 10);
        var scriptSrc = currentScriptDataset.scriptSrc;

        if (lastCheckStatusKey && lastCheckTimestampKey && refreshIntervalMs && scriptSrc && !isNaN(refreshIntervalMs)) {
            if (localStorage.getItem(lastCheckStatusKey) === null) {
                localStorage.setItem(lastCheckStatusKey, String(false));
            }
            
            if (localStorage.getItem(lastCheckTimestampKey) === null){
                localStorage.setItem(lastCheckTimestampKey, String(0));
            }

            var locationHref = document.location.href;
            var now = Date.now();
            var lastCheckStatus = String(localStorage.getItem(lastCheckStatusKey)).toLowerCase() === 'true';
            var lastCheckTimestamp = parseInt(localStorage.getItem(lastCheckTimestampKey), 10);

            if (!isNaN(lastCheckTimestamp)) {
                var needRefreshByInterval = now - lastCheckTimestamp > refreshIntervalMs;

                if (needRefreshByInterval || lastCheckStatus) {
                    var LOAD = 'load';
                    var ERROR = 'error';
                    var script = document.createElement('script');

                    function scriptEventHandler(evt) {
                        var target = evt.target;
                        var evtType = evt.type;

                        var currentCheckStatus = false;
                        var currentCheckTimestamp = Date.now();

                        if (evtType === LOAD) {
                            currentCheckStatus = true;
                        }

                        localStorage.setItem(lastCheckStatusKey, String(currentCheckStatus));
                        localStorage.setItem(lastCheckTimestampKey, String(currentCheckTimestamp));

                        target.removeEventListener(LOAD, scriptEventHandler);
                        target.removeEventListener(ERROR, scriptEventHandler);
                    }

                    if (!locationHref.match(/(\/checkouts\/|\/thank_you)/gi)) {
                        script.defer = true;
                    }

                    script.addEventListener(LOAD, scriptEventHandler);
                    script.addEventListener(ERROR, scriptEventHandler);

                    script.src = scriptSrc;

                    document.head.insertBefore(script, currentScript);
                }
            }
        } else {
            console.error('wrapper is not right configured');
        }
    })();
</script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
  
  {% render 'shogun-head' %}
</head>
  <body>
    {{ skip_to_content_link }}

    <header class="banner" data-header role="banner">
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </header>

    {{ order_summary_toggle }}
    <div class="content" data-content>
      <div class="wrap">
        <div class="main">
          <header class="main__header" role="banner">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </header>
          <main class="main__content" role="main">
            {{ content_for_layout }}
          </main>
          <footer class="main__footer" role="contentinfo">
            {{ content_for_footer }}
          </footer>
        </div>
        <aside class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </aside>
      </div>
    </div>

    {{ tracking_code }}
  </body>
</html>
